<app-navbar></app-navbar>
<app-sidebar></app-sidebar>

<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
            <h1>Input Agen</h1>
            </div>
            <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">General Form</li>
            </ol>
            </div>
        </div>
        </div><!-- /.container-fluid -->
    </section>

    <section class="content">
        <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                    <h3 class="card-title">Form Input</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form [formGroup]="addKaryawanForm" (ngSubmit)="simpanKaryawan()" role="form">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="exampleInputNama">ID</label>
                            <input type="email" class="form-control" formControlName="idKaryawan" id="exampleInputNama" placeholder="Nama">
                            <span *ngIf="!addKaryawanForm.get('idKaryawan').valid && addKaryawanForm.get('idKaryawan').touched" class="danger">Nama Wajib Diisi</span>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputIdEntry">Kode NPK</label>
                            <input type="text" class="form-control" formControlName="kodeNpk" id="exampleInputIdEntry" placeholder="Kode NPK">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputIdEntry">Nama Karyawan</label>
                            <input type="text" class="form-control" formControlName="namaKaryawan" id="exampleInputIdEntry" placeholder="Nama Jabatan">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputIdEntry">Tanggal Masuk Staff</label>
                            <input type="text" class="form-control" formControlName="tanggalMasukStaff" id="exampleInputIdEntry" placeholder="Nama Jabatan">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputIdEntry">ID Kantor</label>
                            <input type="text" class="form-control" formControlName="idKantor" id="exampleInputIdEntry" placeholder="ID Kantor">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputIdEntry">ID Kantor Cabang</label>
                            <input type="text" class="form-control" formControlName="idKantorCabang" id="exampleInputIdEntry" placeholder="ID Kantor Cabang">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputIdEntry">ID Departemen</label>
                            <input type="text" class="form-control" formControlName="idDepartemen" id="exampleInputIdEntry" placeholder="ID Departemen">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputIdEntry">Nomor Induk Kependudukan</label>
                            <input type="text" class="form-control" formControlName="nik" id="exampleInputIdEntry" placeholder="Nama Jabatan">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputIdEntry">Nomor Telepon</label>
                            <input type="text" class="form-control" formControlName="noTelp" id="exampleInputIdEntry" placeholder="Nama Jabatan">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputIdEntry">Email</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                </div>
                                <input type="email" class="form-control" formControlName="email" placeholder="Email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Alamat Tinggal</label>
                            <textarea formControlName="alamatTinggal" class="form-control" rows="3" placeholder="Alamat Tinggal ..."></textarea>    
                        </div>
                        <div class="form-group">
                            <label>Kota Lahir</label>
                            <select class="form-control " formControlName="kotaLahir" style="width: 100%;">
                              <option selected="selected">Pilih Kota/Kabupaten</option>
                              <option *ngFor="let ar of listKotaKab" value="{{ ar.idKotaKab }}">{{ ar.namaKotaKab }}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputIdEntry">Kode Marketing</label>
                            <input type="text" class="form-control" formControlName="kodeMarketing" id="exampleInputIdEntry" placeholder="Nama Jabatan">
                        </div>
                    </div>
                    <!-- /.card-body -->

                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                    </form>
                </div>
            </div>
            <!--/.col (left) -->
        </div>
        <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
</div>

<app-footer></app-footer>
