<app-navbar></app-navbar>
<app-sidebar></app-sidebar>

<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
            <h1>Input Agen</h1>
            </div>
            <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">General Form</li>
            </ol>
            </div>
        </div>
        </div><!-- /.container-fluid -->
    </section>

    <section class="content">
        <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                    <h3 class="card-title">Form Input</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form [formGroup]="addKaryawanForm" role="form">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="exampleInputNama">Nama</label>
                            <input type="email" class="form-control" id="exampleInputNama" placeholder="Nama">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputIdEntry">ID Entry</label>
                            <input type="text" class="form-control" id="exampleInputIdEntry" placeholder="ID Entry">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputIdEntry">ID Update</label>
                            <input type="text" class="form-control" id="exampleInputIdEntry" placeholder="ID Update">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputIdEntry">Kode NPK</label>
                            <input type="text" class="form-control" id="exampleInputIdEntry" placeholder="Kode NPK">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputIdEntry">Nama Jabatan</label>
                            <input type="text" class="form-control" id="exampleInputIdEntry" placeholder="Nama Jabatan">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputIdEntry">ID Kantor</label>
                            <input type="text" class="form-control" id="exampleInputIdEntry" placeholder="ID Kantor">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputIdEntry">ID Kantor Cabang</label>
                            <input type="text" class="form-control" id="exampleInputIdEntry" placeholder="ID Kantor Cabang">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputIdEntry">ID Departemen</label>
                            <input type="text" class="form-control" id="exampleInputIdEntry" placeholder="ID Departemen">
                        </div>
                        <div class="form-group">
                            <label>Kota Lahir</label>
                            <select class="form-control select2" formControlName="idKotaKab" style="width: 100%;">
                              <option selected="selected">Alabama</option>
                              <option *ngFor="let ar of listKotaKab" value="{{ ar.idKotaKab }}">{{ ar.namaKotaKab }}</option>
                            </select>
                          </div>
                    </div>
                    <!-- /.card-body -->

                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                    </form>
                </div>
            </div>
            <!--/.col (left) -->
        </div>
        <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
</div>

<app-footer></app-footer>
